.JockList{
    display: flex;
    width: 80%;
    height: 80%;
}
.JockList-sidebar{
    background-color: rgb(189, 12, 189);
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-shadow: 5px 5px 5px rgb(78, 76, 76);
    border-radius: 4px;
    z-index: 2;
}
.JockList-Jockarea{
    display: flex;
    flex-direction: column;
    height: 90%;
    background-color: white;
    box-shadow: 5px 5px 5px black;
    align-self: center;
    overflow: scroll;
}
.JockList-sidebar img{
    height: 170px;
    width: auto;
    box-shadow: 5px 5px 5px black;
}
.JockList-sidebar h1{
    text-transform: uppercase;
    color: white;
    font-weight: 300;

}
.JockList-sidebar h1 span{
    font-weight: 700;
    
}
img{
    box-shadow: 5px 5px 5px gray;
}
